<!DOCTYPE>
<html>
<head>
	<title>IDEA PAGE</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="static/common/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/idea/css/stylesheet.css">
	<script src="static/common/js/jquery-1.11.1.min.js"></script>
	<script src="static/common/js/bootstrap.min.js"></script>
	<script src="static/idea/js/script.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="https://kangjeidea.appspot.com">Home</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">모두의 단청</a></li>
					<li><a href="#">기술적 구현</a></li>
				</ul>
				<button class="navbar-right btn btn-primary btn-lg" data-toggle="modal" id="feedback" data-target="#myModal">
					Feedback !
				</button>
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">그림 이름 검색</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://kangjekangje.appspot.com">홈페이지</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="https://www.facebook.com/">Facebook</a></li>
							<li><a href="https://kangjekangje.appspot.com">Homepage</a></li>
							<li class="divider"></li>
							<li><a href="http://www.google.com">E-mail</a></li>
							<li class="divider"></li>
							<li><a href="#">Phone</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>
	<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">닫기</span></button>
								<h4 class="modal-title" id="myModalLabel">자유로운 의견을 남겨주세요 ! </h4>
							</div>
							<div class="modal-body">
								더 나은 아이디어를 위해 <br>
								남겨주세요~<br>
								이히
								<form>
									<input class="hi"/>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary">보내기</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
							</div>
						</div>
					</div>
				</div>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="static/idea/img/-845592276.jpg" alt="...">
				<div class="carousel-caption">
					단청 박쥐금 단젗  단청 
				</div>
			</div>
			<div class="item">
				<img src="static//idea/img/-845592276.jpg" alt="...">
				<div class="carousel-caption">
					사진사진 
				</div>
			</div>
			<p style="text-align:center">단청단청단청</p>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>



	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="static/idea/img/423996880.jpg">
				<div class="caption">
					<h3>관자머리초</h3>
					<p>바자휘, 웅련이 있는 관자머리초<br>헛둘헛둘</p>
					<p><a href="https://kangjekangje.appspot.com" class="btn btn-primary" role="button">Click</a> <a href="#" class="btn btn-default" role="button">싫어요</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="static/idea/img/432883304.jpg">
				<div class="caption">
					<h3>장구머리초</h3>
					<p>비녀장, 파련, 주화가 있는 장구머리초</p>
					<p><a href="https://kangjekangje.appspot.com" class="btn btn-primary" role="button">Click</a> <a href="#" class="btn btn-default" role="button">싫어요</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="static/idea/img/523045950.jpg">
				<div class="caption">
					<h3>탁의주의 </h3>
					<p>연화문, 주화, 결련직휘, 녹화가 있는 탁의주의 </p>
					<p><a href="https://kangjekangje.appspot.com" class="btn btn-primary" role="button">Click</a> <a href="#" class="btn btn-default" role="button">싫어요</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="static/idea/img/1425969976.jpg">
				<div class="caption">
					<h3>탁의주의 </h3>
					<p>연화문, 주화, 결련직휘, 녹화가 있는 탁의주의 </p>
					<p><a href="https://kangjekangje.appspot.com" class="btn btn-primary" role="button">Click</a> <a href="#" class="btn btn-default" role="button">싫어요</a></p>
				</div>
			</div>
		</div>
	</div>




<!--<div class="container">
	<button type="button" class="btn btn-default">버튼 </button>
	<button type="button" class="btn btn-primary">버튼 </button>
	<button type="button" class="btn btn-danger">버튼 </button>
	<a href="#" class="btn btn-success">맨위로</a>
	<a href="#" class="btn btn-link">맨위로</a>
	<span class="glyphicon glyphicon-tag"></span>//글자로 인식 되서 color 등 적용 가능. 
</div>-->

<div class="contaier">
	<div class="row">
		<div class="col-md-2 well"></div>
		<div class="col-md-3 well"></div>
	</div>
	<div class="row">
		<div class="col-md-1 col-sm-3 well"></div>
	</div>
	<div class="row">
		<div class="col-md-offset-1 col-sm-3 well">alskdfkjal</div>
	</div>
	<div class="row">
		<div class="col-md-offset-4 well"></div>
	</div>
</div>
<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" style="margin:auto;">
		열어봐
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">바보냐 </a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">열으랬더니 </a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">열게</a></li>
		<li role="presentation" class="divider"></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">ㅎㅎ</a></li>
	</ul>
</div>

<div class="list-group">
	<a href="#" class="list-group-item active">
		<h4 class="list-group-item-heading">List group item heading</h4>
		<p class="list-group-item-text">...</p>
	</a>
</div>


<div class="container">
	<table class='table table-striped table-bordered table-condensed'>
		<thead>
			<tr>
				<th>번호</th> 
				<th>이름</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>강지혜 </td>
			</tr>
			<tr>
				<td>2</td>
				<td>강지혜 </td>
			</tr>
			<tr>
				<td>3</td>
				<td>강지혜 </td>
			</tr>
			<tr>
				<td>4</td>
				<td>강지혜 </td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Button trigger modal -->


</body>
</html>