
     dd=]=p]
     \=-k'[om/jquery-1.11.0.min.js"></script>
	<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
	<script src="static/idea/css/searchtwit.css"></script>
	<script src="{{ url_for('static',filename='js/searchtwit.js') }}"></script>
</head>
<body>
	<h2>Twitter Search Engine</h2>
	<input type="text" name="text" id="text" style="margin: auto;"/>
	<input type="submit" value="search" id="search" style="margin: auto;"/>
	<div id="list"></div>
</body>
</html>
